<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @recipe_category, partial: "card", as: :recipe_category %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "recipe_categories/recipe_category_recipes" %>
  </div>
</div>
  <!-- Show Page Customization end -->
