<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @recipe, partial: "card", as: :recipe %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "recipes/recipe_comments" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "recipes/recipe_ratings" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "recipes/recipe_shares" %>
  </div>
</div>
