<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Ratings

    <a data-toggle="collapse" href="#user_ratings_new_form">
      Add rating
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.ratings.each do |rating| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to rating, rating %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_ratings_new_form">
        <%= render partial: "users/user_ratings_new_form" %>
      </div>
    </div>

  </ul>
</div>
